*{
	margin: 0;
	padding: 0;
}

.wrapper{
	width: 100%;
	max-width: 100%;
	background-color: #FF0000;
	height: 100%;
}

.sidebar{
	float: left;
	background-color: #000000;
	box-shadow: -5px 0 5px -5px #333, 5px 0 5px -5px #333;
	padding-top: 10px;
}

.main{
	height: 100%;
	min-height: 1000px;
	background-color: #FFFFFF;
}

.titlebar{
	height: 200px;
	background-color: #000000;
	text-align: center;
	overflow: hidden;
}

.titleText1{
	color: white;
	font-weight: 600;
	font-size: 60px;
	letter-spacing: 2px;
	position: static;
	top: 20px;
	left: 20px;
	font-family: 'Kanit', sans-serif;
}
.titleText2{
	color: white;
	font-weight: 600;
	font-size: 30px;
	letter-spacing: 2px;
	position: static;
	top: 20px;
	left: 60px;
	font-family: 'Kanit', sans-serif;
	padding-left: 40px;
}

.sidebarText1{
	color: #FF0000;
	font-weight: 600;
	font-size: 20px;
	letter-spacing: 2px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
	float: left;
	font-family: 'Kanit', sans-serif;
}

.subtitleText1{
	color: black;
	font-weight: 600;
	font-size: 40px;
	letter-spacing: 2px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
	font-family: 'Kanit', sans-serif;
}

.subtitleText2{
	color: black;
	font-weight: 600;
	font-size: 30px;
	letter-spacing: 2px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
	font-family: 'Kanit', sans-serif;
}

.bodyText1{
	color: black;
	font-size: 20px;
	font-weight: 400px;
	font-family: 'Roboto', sans-serif;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 10px;
}

.bodyText1List{
	color: black;
	font-size: 20px;
	font-weight: 400px;
	font-family: 'Roboto', sans-serif;
	padding-left: 80px;
	padding-right: 40px;
	padding-top: 10px;
}

.sidebarItem{
	font-family: 'Kanit', sans-serif;
	color: white;
	font-weight: 500;
	font-size: auto;
	padding-top: 10px;
	letter-spacing: 1px;
	float: center;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	width:80%;
	height: 40px;
	background-color: #3a3a3a;
}

.sidebarItem:hover, .sidebarItem:active {
	background-color: #7c7c7c;
}

.bodyText{
	font-family: 'Kanit', sans-serif;
	font-weight: 400;
}
.sidebarButton{
	float: left;
	padding-left: 20px;
	padding-top: 20px;
}

.playButton{
	font-family: 'Kanit', sans-serif;
	color: white;
	font-weight: 600;
	font-size: auto;
	margin-top: 50px;
	margin-right: 20px;
	margin-left: 20px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	letter-spacing: 1px;
	float: right;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	width: 100px;
	height: 30px;
	background-color: black;
}

.playButton:hover, .sidebarItem:active {
	background-color: #7c7c7c;
}

/* Additional Styles */

.subtitleText2Centered{
	color: black;
	font-weight: 600;
	font-size: 30px;
	letter-spacing: 2px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
	font-family: 'Kanit', sans-serif;
	text-align: center;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
	background-color: #f1f1f1;
	padding-left: 25px;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/* ELIA page styles */
.floating-box {
    display: inline-block;
    width: 500px;
    height: 1900px;
    margin: 40px;
	border: 4px solid  black;
	border-radius: 20px;
	padding-left: 25px;
	box-shadow: 10px 10px grey;
}

.paddingRight {
	padding-right: 2cm;
	word-wrap: break-word;
	margin: auto;
}

/* ELIA page card styles */
.cardContainer {
    padding: 2px 16px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
	width: 40%;
	border: 2px solid  black;
	border-radius: 5px;
	display: inline-block;

	margin: 40px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cardImg {
    border-radius: 5px 5px 0 0;
}

.teacherBodyText1{
	color: black;
	font-size: 25px;
	font-weight: 400px;
	font-family: 'Roboto', sans-serif;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 10px;
}
